<form class="w-xl" tuiAppearance="floating" tuiCardLarge tuiForm [formGroup]="loginForm">
  <header tuiHeader>
    <h1 tuiTitle>ImDat.dev</h1>
  </header>

  <tui-textfield>
    <label for="username" tuiLabel>Username</label>
    <input formControlName="username" name="username" tuiTextfield (keyup.enter)="handleSignIn()" />
  </tui-textfield>
  <tui-error formControlName="username" [error]="[] | tuiFieldError | async" />

  <tui-textfield>
    <label for="password" tuiLabel>Password</label>
    <input formControlName="password" name="password" tuiTextfield type="password" (keyup.enter)="handleSignIn()" />
    <tui-icon tuiPassword />
  </tui-textfield>
  <tui-error formControlName="password" [error]="[] | tuiFieldError | async" />

  <footer>
    <button
      class="w-full"
      tuiButton
      type="submit"
      [disabled]="loading()"
      [loading]="loading()"
      (click)="handleSignIn()"
    >
      Sign In
    </button>
  </footer>
</form>
