@let data = portfolios();
@let isLoading = loading();

<table class="w-full" tuiTable [(ngModel)]="selectedPortfolios">
  <thead>
    <tr>
      <th tuiTh>
        <div tuiCell [tuiSkeleton]="isLoading">
          <input size="s" tuiCheckbox tuiCheckboxTable type="checkbox" />
        </div>
      </th>
      <th tuiTh>Title</th>
      <th tuiTh>Short Description</th>
      <th tuiTh>Status</th>
      <th tuiTh>Updated At</th>
      <th tuiTh>Published At</th>
      <th tuiTh></th>
    </tr>
  </thead>
  <tbody tuiTbody>
    @for (item of data; track item.id) {
      <tr #dropdown="tuiDropdown" tuiDropdownContext [tuiDropdown]="actions">
        <td tuiTd>
          <div tuiCell [tuiSkeleton]="isLoading">
            <input size="s" tuiCheckbox type="checkbox" [tuiCheckboxRow]="item" />
          </div>
        </td>
        <td tuiTd>
          <div tuiCell [tuiSkeleton]="isLoading">
            <img
              class="aspect-square size-[50px] rounded-lg object-cover"
              height="50"
              loading="lazy"
              width="50"
              [alt]="item.images[0].alt"
              [ngSrc]="item.images[0].url"
            />
            <span tuiTitle>
              {{ item.title }}
            </span>
          </div>
        </td>
        <td tuiTd>
          <span tuiCell [tuiSkeleton]="isLoading">
            {{ item.shortDescription }}
          </span>
        </td>
        <td tuiTd>
          <div tuiCell [tuiSkeleton]="isLoading">
            <tui-badge tuiStatus [appearance]="item.status | appearance">
              {{ item.status | status }}
            </tui-badge>
          </div>
        </td>
        <td tuiTd>
          <span tuiCell [tuiSkeleton]="isLoading">
            {{ item.updatedAt.toDate() | date: 'dd/MM/yyyy, HH:mm:ss' }}
          </span>
        </td>
        <td tuiTd>
          <span tuiCell [tuiSkeleton]="isLoading">
            {{ item.publishedAt?.toDate() | date: 'dd/MM/yyyy, HH:mm:ss' }}
          </span>
        </td>
        <td tuiTd>
          <div tuiCell [tuiSkeleton]="isLoading">
            <button
              appearance="action"
              iconStart="ellipsis"
              size="xs"
              tuiDropdownAlign="right"
              tuiDropdownOpen
              tuiIconButton
              type="button"
              [tuiDropdown]="actions"
            >
              More
            </button>
          </div>

          <ng-template #actions let-close>
            <tui-data-list size="s">
              <tui-opt-group [label]="item.title">
                @for (button of actionButtons; track button.label) {
                  <button
                    class="!m-1"
                    new
                    tuiOption
                    type="button"
                    [iconStart]="button.icon"
                    [tuiAppearance]="button.appearance"
                    (click)="button.onClick(item)"
                  >
                    {{ button.label }}
                  </button>
                }
              </tui-opt-group>
            </tui-data-list>
          </ng-template>
        </td>
      </tr>
    }
    @if (data.length === 0 && !isLoading) {
      <tr>
        <td colspan="7" tuiTd>
          <app-empty></app-empty>
        </td>
      </tr>
    }
  </tbody>
</table>

<div class="mt-5" tuiCardLarge>
  <tui-table-pagination [page]="page()" [size]="size()" [total]="237" />
</div>
