@if (user()) {
  <div class="profile-button__wrap" [matMenuTriggerFor]="settingsMenu">
    @if (user()?.photoURL) {
      <img class="profile__avatar" [alt]="user()?.displayName" [src]="user()?.photoURL" />
    } @else {
      <mat-icon class="profile__avatar_placeholder">person</mat-icon>
    }
  </div>

  <mat-menu #settingsMenu class="menu">
    <div class="profile__menu-wrap">
      @if (user()?.photoURL) {
        <img class="profile__avatar" [alt]="user()?.displayName" [src]="user()?.photoURL" />
      } @else {
        <mat-icon class="profile__avatar_placeholder">person</mat-icon>
      }
      <div class="profile__info">
        <div class="profile__name">{{ user()?.displayName }}</div>
        <div class="profile__email">{{ user()?.email }}</div>
      </div>
    </div>
    <menu mat-menu-item [routerLink]="['/profile']">
      <mat-icon>id_card</mat-icon>
      Profile
    </menu>
    <!--    <menu mat-menu-item>-->
    <!--      <mat-icon>account_circle</mat-icon>-->
    <!--      Account-->
    <!--    </menu>-->
    <!--    <menu mat-menu-item>-->
    <!--      <mat-icon>language</mat-icon>-->
    <!--      Language-->
    <!--    </menu>-->
    <menu mat-menu-item [disabled]="loading()" (click)="signOut()">
      @if (loading()) {
        <mat-spinner color="white" [diameter]="20"></mat-spinner>
      } @else {
        <mat-icon>logout</mat-icon>
      }
      Sign Out
    </menu>
  </mat-menu>
}
