@use '@angular/material' as mat;
@use 'vendor/theme.scss';

.sidenav-container {
  height: 100%;
}

.sidenav {
  box-sizing: border-box;
  padding: 0 8px;
  width: 240px;
}

mat-sidenav-content {
  padding-right: 16px;
}

.sidenav-scroll-wrapper {
  border-radius: 16px;
  box-sizing: border-box;
  height: calc(100dvh - 64px - 16px);
  overflow: auto;
}

.toolbar__top {
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1;
}

.sidenav-content {
  box-sizing: border-box;
  max-height: 100%;
  overflow-y: auto;
  padding: 16px;
  @media (pointer: fine) {
    &::-webkit-scrollbar {
      background-color: transparent;
      width: 8px;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 4px;
    }
  }
}

@media (max-width: 959.98px) {
  mat-sidenav-content {
    padding-left: 8px;
    padding-right: 8px;
  }
  .sidenav-scroll-wrapper {
    height: calc(100dvh - 64px);
  }
  .sidenav-content {
    overflow-y: visible;
    padding: 8px;
  }
}

.mat-mdc-nav-list {
  --mat-list-active-indicator-shape: 10px;

  .mdc-list-item {
    --mat-list-list-item-hover-leading-icon-color: var(--mat-list-list-item-leading-icon-color);
    --mat-list-list-item-leading-icon-color: #{mat.get-theme-color(theme.$light-theme, primary)};

    &::before {
      transition: opacity 0.25s;
    }

    &.link_active {
      background-color: rgba(mat.get-theme-color(theme.$light-theme, primary-container), 0.5);

      &::before {
        opacity: 0;
      }
    }
  }
}
