<header tuiNavigationHeader tuiTheme="light">
  <button appearance="action" tuiIconButton type="button">
    <tui-avatar appearance="info" class="text" src="RN" />
  </button>
  <span tuiNavigationLogo>
    <tui-icon [icon]="currentRoute()?.data?.['icon'] ?? 'cloud-alert'" />
    <span tuiFade>{{ currentRoute()?.title }}</span>
  </span>
  <hr />
  <button appearance="secondary-grayscale" iconStart="plus" tuiButton type="button">Create</button>
  <button iconStart="bell" tuiIconButton type="button">
    Notifications
    <tui-badge-notification />
  </button>
  <button iconStart="settings" tuiIconButton type="button">More</button>
  <app-profile-button />
</header>

<div class="flex flex-1">
  <aside class="h-full" tuiTheme="light" [tuiNavigationAside]="expanded()">
    <header>
      @for (menu of sideNavHeaderMenus(); track menu.path) {
        <button tuiAsideItem type="button" [iconStart]="menu.data?.icon" [routerLink]="menu.path">
          <span tuiFade>{{ menu.title }}</span>
        </button>
      }
    </header>

    @for (menu of sideNavMiddleMenus(); track menu.path) {
      <button tuiAsideItem type="button" [iconStart]="menu.data?.icon" [routerLink]="menu.path">
        <span tuiFade>{{ menu.title }}</span>
      </button>
    }

    <tui-aside-group>
      <button automation-id="setting" iconStart="@tui.settings" tuiAsideItem tuiChevron type="button">
        Settings
        <ng-template>
          <button tuiAsideItem type="button">Account</button>
          <button tuiAsideItem type="button">Notifications</button>
          <button tuiAsideItem type="button">Privacy</button>
        </ng-template>
      </button>
    </tui-aside-group>

    <footer>
      @for (menu of sideNavFooterMenus(); track menu.path) {
        <button tuiAsideItem type="button" [iconStart]="menu.data?.icon" [routerLink]="menu.path">
          <span tuiFade>{{ menu.title }}</span>
        </button>
      }
      <button
        tuiAsideItem
        type="button"
        [iconStart]="expanded() ? '@tui.chevron-left' : '@tui.chevron-right'"
        (click)="handleToggle()"
      >
        {{ expanded() ? 'Collapse' : 'Expand' }}
      </button>
    </footer>
  </aside>

  <main class="bg-slate-100" tuiNavigationMain>
    <router-outlet />
  </main>
</div>

<div class="custom-portal">
  <ng-container #viewContainer />
</div>
